body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* FONTS  for when that's all an element needs */

.text-light {
    font-family: "Rubik", sans-serif;
    font-weight: 100;
}

.text-regular {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.text-medium {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.text-bold {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}


/* IDLE CONTAINERS */

.main-container {
    width: 20rem;
    top: 10px;
    margin: 10px 2rem 10px;
    text-align: center;
    background: url("./assets/Pricing_BG_TopTriangle_Idle@2x.png") top center no-repeat;
    background-size: 100%;
    background-color: #E2e6f3;
    color: #3651a3;
}


/* HOVER CONTAINER */

.main-container:nth-child(2) {
    color: white;
    background: url("./assets/Pricing_BG_TopTriangle_Hover.png") top center no-repeat;
    background-size: 100%;
    background-color: #2B4183;
}


/* Head Banners */

.head-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 5px dashed white;
    padding: 1rem;
}


/* 3 Head Banner */

.main-container:nth-child(3) .head-banner {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem;
}

.discount {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    display: inline-block;
    position: relative;
    font-size: 4rem;
}

.discount::after {
    content: "% off";
    display: block;
    left: 100%;
    font-size: 30px;
    line-height: 26px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.best {
    display: inline-block;
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

.best #value {
    font-size: 1.58rem;
}


/* END Head Banners */


/* START Body Banner */

.wrapper {
    margin-top: 2.2rem;
    box-sizing: border-box
}

.supply {
    font-size: 1.5rem;
}

img {
    width: 9rem;
    height: 10rem;
}

.discount-price {
    font-size: 3rem;
    padding: 0 3.5rem;
}

.discount-price .between {
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 1.3rem;
}

#strike {
    text-decoration: line-through;
}

.after-line-break {
    margin: 1rem 3rem;
    margin-bottom: auto;
    padding: 1rem;
    border-top: 4px solid rgba(0, 0, 0, .1)
}

.green {
    color: #71B621;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #FF5844;
    border-radius: 6px;
    width: 85%;
}


/* END Body Banner */


/* 3rd Body Banner */

.main-container:nth-child(3) #strike {
    visibility: hidden;
}

.main-container:nth-child(3) .after-line-break {
    visibility: hidden;
}

@media (min-width: 769px) and ( max-width: 1175px) {
    .main-container:nth-child(2) {
        order: 3;
    }
    .main-container:nth-child(3) {
        order: 2;
    }
}

@media only screen and (max-width: 768px) {
    body {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-container {
        width: 100%;
        margin: 0;
    }
}